
/*
backgound_color style
*/
$background_color:#1A1A29;
$hover_bg:#1A1A29;
$aboutItem_bg:#BDBDBD;
$project_item:#31313F;
$input_bg:#32323F;
$perpale_bg:#6A1B4D;

/*
color style
*/
$white_color:#fff;
$perpole_color:#6A1B4D;
$whiteSmoke:#F5F5F5;
$hover_color:#6A1B4D;
$deep_perpale:#1A1A29;
